@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="text"] {
    @apply px-3 py-2 focus:outline-none;
  }

  label {
    @apply text-xs font-extrabold uppercase text-gray-700;
  }

  .form-control {
    @apply flex flex-col space-y-1;
  }
}

[data-tooltip] {
  @apply relative;
}
[data-tooltip]::before {
  content: attr(data-tooltip);
  @apply absolute inline-block h-12 w-12 bg-slate-400;
}
